<div id="newPostHead">
<h2>New Post</h2>
</div>
<br>
<div id= "newPostDiv">
<%= form_for @post do |p| %>
<div class="row">
<div class= "col-md-2">
<%= p.label :category %>
<br>
<br>
<%= p.label :location %>
<br>
<br>
<%= p.label :title %>
<br>
<br>
<%= p.label :body, "Post Description" %>
<br>
<br>
<br>
<%= p.label :picture_upload, "Upload Relevant Pictures" %>
</div>
<div class= "col-md-1">
</div>
<div class= "col-md-6">
<%= p.select :category, Post::categories%>
<br>
<br>
<%= p.text_field :location%>
<br>
<br>
<%= p.text_field :title%>
<br>
<br>
<%= p.text_area :body%>
<br>
<br>
<br>
<%= p.file_field :picture_upload %>
<br>
<br>
<br>

<%= p.submit %>
</div>

</div>

<% end %>

</div>
